
<form action="<%= user_url%>" method="POST">

<label for="user_name">Username</label>
  <input
    type="text"
    name="user[username]"
    id="user_name"
    value=""
  >


  <label for="password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="password"
    value=""
  >
  <input type="submit" value="Create New User">

  </form>